Build ASP.NET Core Web API/NZWalks/NZWalks/.vs/NZWalks/DesignTimeBuild/.dtbcache.v2
Build ASP.NET Core Web API/NZWalks/NZWalks/.vs/NZWalks/FileContentIndex/6cdf82ac-4a82-45dc-ba2c-4dad097e2ae2.vsidx
Build ASP.NET Core Web API/NZWalks/NZWalks/.vs/NZWalks/FileContentIndex/6ea0891a-4745-4084-b7a6-2eacd82b87d7.vsidx
Build ASP.NET Core Web API/NZWalks/NZWalks/.vs/NZWalks/FileContentIndex/15fc7cf8-81a9-4a8c-a76c-a520c1e98321.vsidx
Build ASP.NET Core Web API/NZWalks/NZWalks/.vs/NZWalks/FileContentIndex/32fffbdb-3302-4a5b-9a60-56b485a94222.vsidx
Build ASP.NET Core Web API/NZWalks/NZWalks/.vs/NZWalks/FileContentIndex/562ca28c-d791-4acf-8c3a-560bd4aee6c4.vsidx
